<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151275153008-55bqv42ehc6mqegclmu7qriobb7fbs1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151275153008-55bqv42ehc6mqegclmu7qriobb7fbs1g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>151275153008-7bbbinhbdpkpcvbspjtdofl99ds225or.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1tp0GKboHWr4czkTUWlww0joW_VXXrhA</string>
	<key>GCM_SENDER_ID</key>
	<string>151275153008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vafee.webrtc.app</string>
	<key>PROJECT_ID</key>
	<string>vafee-91686</string>
	<key>STORAGE_BUCKET</key>
	<string>vafee-91686.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151275153008:ios:e366ee46e81909efe8f6b5</string>
</dict>
</plist>